.carousel {
    position: relative;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
}

.carousel-images {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item1
{
    background-position-y: -26rem;
}

.item2
{
    background-position-y: -19rem;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}